{{#each this}}

  <li class='gallery__item' data-id={{id}}>
    <div class='block__image'>
      <img
        class='gallery__image'
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}}'
        loading='lazy'
      />
    </div>
    <div class='info_movie'>
      <h2 class='name_movie'>{{title}}
      </h2>
      <p class='genre_movie'>{{genre_ids}}{{release_date}}</p>
      {{!-- <p class='genre_movie'>{{release_date}}</p> --}}
    </div>
  </li>
{{/each}}