<div class='team__container'>
  <button type=' button' class='team__close-btn'>
    <svg class='modal__icon-close' data-btn='close'>
      <path d='M8 8L22 22' stroke='black' stroke-width='2'></path>
      <path d='M8 22L22 8' stroke='black' stroke-width='2'></path>
    </svg>
  </button>
  <div class='team__box'>
    <h2 class='team__title'>Dangerous Developers</h2>
    <span class='team__line'></span>
  </div>
  <div class='team__content'>
    <ul class='team__list'>
      {{#each this}}
        <li class='team__item'>
          <a target='_blank' href='{{github-link}}'><img
              class='team__image'
              src='{{photo}}'
              alt='{{name}}'
            />
          </a>
          <div class='team__card'>
            <p class='team__name'>{{name}}</p>
            <p class='team__position'>{{role}}</p>
          </div>

        </li>
      {{/each}}
    </ul>
  </div>
</div>